cache/
logs/vina/
logs/vina_confs/
logs/*.pid
logs/*.stdout
cognate_qc/*_topology_modes/
cognate_qc/*_mode_tmp.pdbqt
cognate_qc/*_cognate_out.pdbqt
cognate_qc/*_cognate_vina.log
cognate_qc/*_cognate.conf
cognate_qc/*_protein_chainA.pdb
cognate_qc/*_crystal.pdb
cognate_qc/*_crystal.pdbqt
cognate_qc/*_crystal.sdf
